body {
    background-color: #dfdffd;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
  .about {
    text-align: center;
  }
  
  img {
    display: block;
  }
  #image {
    max-width: 100%;
    height: auto;
    justify-content: center;
  }
  #img-caption,
  #title, #link {
    text-align: center;
  }
  .quote {
    text-align: center;
  }
  
  #tribute-info div {
    display: block;
    justify-content: center;
  }
  span {
    font-weight: 700;
  }